---
sourceDir: "{{ ansible_env.HOME }}/.yadr"

data:
  name: "{{ yourname }}"
  email: "{{ youremail }}"
  interactive: false
  param:
    color: "solarized"
    # Choose any of solarized, gruvbox, dracula
